`{{name}}`(self, {{#args}}{{var}}: *{{typePlaceholder}}*{{^last}}, {{/last}}{{/args}}):
---
<hr>

put_summary_here

### Downstream Calls 
 #### :class:`~folder.file.class`.:meth:`~folder.file.class.method`
    - Description
 #### :class:`~class`.:meth:`~method`
    - Description

### Upstream Calls 
 #### :class:`~folder.file.class`.:meth:`~folder.file.class.method`
    - Description
 #### :class:`~class`.:meth:`~method`
    - Description
    
<hr>

Parameters
---
{{#args}}
:param (*{{typePlaceholder}}*) `{{var}}`: {{descriptionPlaceholder}}
{{/args}}

<hr>

Returns
---
{{#returns}}
:return `variablename` ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/returns}}
