:class:`~`.:meth:`~{{name}}`
---

put_summary_here

Parameters
---
{{#args}}
:param (*{{typePlaceholder}}*) `{{var}}`: {{descriptionPlaceholder}}
{{/args}}

        
   ### ***Optional***
:param (*str = ''*) `log_prefix`: String to prepend to any logger outputs. Usually used when iterating, like `'keyvalue1, 1/150: '`, `'keyvalue2, 2/150: '` and so on 

<hr>

Returns
---
{{#returns}}
:return `variablename` ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/returns}}

<hr>

## Upstream Calls (Methods/Functions Called by)

 ### _______replace_me_______

  - Description

 ### _______replace_me_______
   
  - Description
   
 ### _______replace_me_______

  - Description

## Downstream Calls (Methods/Functions called)

 ### _______replace_me_______

  - Description

 ### _______replace_me_______
   
  - Description
   
 ### _______replace_me_______

  - Description
