:class:`~`.:meth:`~{{name}}` (self, {{#args}}{{var}}: *{{typePlaceholder}}*{{^last}}, {{/last}}{{/args}}):
---
<hr>

put_summary_here

### Downstream Calls 
 #### _______replace_me_______
    - Description
 #### _______replace_me_______
    - Description

### Upstream Calls 
 #### _______replace_me_______
    - Description
 #### _______replace_me_______
    - Description
    
<hr>

Parameters
---
{{#args}}
:param (*{{typePlaceholder}}*) `{{var}}`: {{descriptionPlaceholder}}
{{/args}}

<hr>

Returns
---
{{#returns}}
:return `variablename` ({{typePlaceholder}}): {{descriptionPlaceholder}}
{{/returns}}
